<div class="content">
  <div class="title">
    <h2>Stats</h2>
  </div>
  <div class="title">
    <h3>Front End</h3>
  </div>
  <p>The code for the Front End is available on Github, as <a href="https://github.com/skylerto/student">student</a>.</p>
  <table class="table-striped">
    <thead>
      <tr>
        <td>Language</td>
        <td>Files</td>
        <td>Lines of Code</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CSS</td>
        <td>9</td>
        <td>1689</td>
      </tr>
      <tr>
        <td>TypeScript</td>
        <td>31</td>
        <td>465</td>
      </tr>
      <tr>
        <td>HTML</td>
        <td>9</td>
        <td>297</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>52</td>
        <td>2471</td>
      </tr>
    </tbody>
  </table>
  <div class="title">
    <h3>API</h3>
  </div>
  <p>The code for the API is available on Github, as <a href="https://github.com/skylerto/student-api">student-api</a>.</p>
  <table class="table-striped">
    <thead>
      <tr>
        <td>Language</td>
        <td>Files</td>
        <td>Lines of Code</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ruby</td>
        <td>44</td>
        <td>390</td>
      </tr>
      <tr>
        <td>YAML</td>
        <td>6</td>
        <td>44</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>53</td>
        <td>460</td>
      </tr>
    </tbody>
  </table>


</div>
