<div class="content">
  <div class="title">
    <h2>Hi, Jacob</h2>
  </div>
  <p>Here are some notes on how to get the most out of the application.</p>

  <div class="title">
    <h3>Notes</h3>
  </div>
  <p>Nothing in this is truth, use it or don't it's up to you!</p>
  <p>In the notes section are just some scratch notes that I put together on a little useful link and info, or to help if you'd like to try to recreate this application if interested.</p>

  <div class="title">
    <h3>Courses</h3>
  </div>
  <p>The Courses section is the fun part, here you can keep track of all your marks and see your progress in the course.</p>
  <p>To do so, create a course, there is an example course <strong>Physics</strong> with a couple of marks so you can play around.</p>
  <p>To edit a course title, or code click the name you'd like to edit, it will switch to an input field this is where you can edit. Similar to this, you can edit any field of a mark other than its contribution.</p>
</div>
