.title {
  padding: 0;
  text-align: left;
}

.code {
  padding: 0;
}

input, label {
  /* margin: 0.5em 0; */
}

.title-label {
  font-size: 24px;
}
.title-input {
  font-size: 24px;
}
.code-label {
  font-size: 20px;
}
.code-input {
  font-size: 20px;
}

.static {
  margin-right: 10px;
}

.course-buttons {
  margin-top: 1em;
}
