  <div *ngIf="currentCourse">
    <div>
      <label *ngIf="!isTitleEdit" (click)="isTitleEdit=true" from="title">
        {{ currentCourse.title || 'Title' }}
      </label>
      <input *ngIf="isTitleEdit" (keydown.enter)="isTitleEdit=false" type="text" [(ngModel)]="currentCourse.title "/>
    </div>

    <div>
      <label *ngIf="!isCodeEdit" (click)="isCodeEdit=true" from="title">
        {{ currentCourse.code || 'Code' }}
      </label>
      <input *ngIf="isCodeEdit" (keydown.enter)="isCodeEdit=false" type="text" [(ngModel)]="currentCourse.code"/>
    </div>
    <table class="table-striped">
      <thead>
        <th>
          <h4>Title</h4>
        </th>
        <th>
          <h4>Weight (in decimal)</h4>
        </th>
        <th>
          <h4>Mark (in decimal)</h4>
        </th>
        <th>
          <h4>Grade Contribution</h4>
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let mark of currentCourse.marks" [app-mark]="mark" (click)="$event.preventDefault()"></tr>
      </tbody>
    </table>
  <!-- New Mark -->


  </div>
