<div class="content">
  <div class="title">
    <h2>Engineering Notes</h2>
  </div>
  <p>
    Some helpful resources I found when I was working toward my engineering degree. Including topics in Math, Computer Science, and advise when choosing a gen ed courses.
  </p>

  <div class="title">
  <h4>
    <a href="https://www.youtube.com/user/patrickJMT">
      How to Pass Math
    </a>
  </h4>
  </div>
  <p>Probably the best math resource I have ever some across, seriously. PatrickJMT got me through first and second year math.</p>


  <div class="title">
  <h4>
    <a href="https://www.youtube.com/playlist?list=PLUl4u3cNGP61Oq3tWYp6V_F-5jb5L2iHb">
      Topics in Computer Science
    </a>
  </h4>
  </div>
  <p>A youtube playlist discussing topics of computer science (such as Datastructures and Algorithms) lead by MIT OpenCourseWare.</p>

  <div class="title">
    <h3>Gen-Ed Selection</h3>
  </div>
  <p>
    As much as economics sounds like a good idea, you already know the math so you are better off selecting something that's completely different from anything you have done. So that you can learn something different and when you meet new people you have something more interesting (to them) to talk about with them then new advances in sciences and technology, or how totally awesome solving differential equations are.
  </p>
</div>
